<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AccountMapper">

	<insert id="register" parameterType="java.lang.String">
		INSERT INTO account(name,password,create_time,update_time) 
			VALUES(#{name}, #{password}, #{time}, #{time});
	</insert>
	
	<select id="login" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT id FROM account WHERE name=#{name} AND password=#{password}
	</select>
	
	<update id="changePassword" parameterType="java.lang.String" >
		UPDATE account SET password=#{newPassword},update_time=#{time} 
		WHERE id=#{id} AND password=#{password}
	</update>
	
	<update id="changePayPassword" parameterType="java.lang.String">
		UPDATE account SET pay_password=#{pay_password}, update_time=#{time}
			WHERE id=#{id} AND pay_password=#{old_pay_password}
	</update>

	<update id="changePayeeName" parameterType="java.lang.String">
		UPDATE account SET payee_name=#{payee_name}, update_time=#{time}
			WHERE id=#{id}
	</update>

	<select id="getPayeeName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT payee_name FROM account WHERE id=#{id}
	
	</select>

	<insert id="createAgent" parameterType="java.lang.String">
		INSERT INTO account(name,password,type,point,parent_id,create_time,update_time) 
			VALUES(#{name}, #{password}, #{type}, #{point},#{parentId}, #{time}, #{time});
	
	</insert>

	<select id="getUrl" parameterType="java.lang.String" resultType="Url">
		SELECT * FROM url WHERE short_url=#{shortUrl};
	</select>

	<insert id="createLink" parameterType="java.lang.String">
		INSERT INTO url(create_date,short_url,user_type,point,valid_days,account_id,create_time,update_time)
			VALUES(#{createDate},#{shortUrl},#{userType},#{point},#{validDays},#{accountId},#{time},#{time});
	</insert>
	
	
</mapper>