<web-app>
	<display-name>phone_channel</display-name>
	<!-- log4j2配置文件 -->
	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>
	<!-- 配置SPRING MVC -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<!-- DispatcherServlet 提供Spring Web MVC的集中访问点，而且负责职责的分派，而且与Spring IoC容器无缝集成 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 设置MVC配置文件 ,classpath*:activemq.xml -->
		<param-value>classpath*:/springmvc-servlet.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


</web-app>
